body{
    background-image: url(img/cinema-background-concept-vector.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    color: #fff;
    
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    text-align: center;
    margin-top: 5em;
}

.sumarPeli{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin-bottom: 10px;
}

input{
    width: 15%;
    background-color: antiquewhite;
    border-radius: 4px;
    border-color: antiquewhite;
    color: black;
}

.sumarCategoria{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin-bottom: 10px; 
}

.boton{
    background-color: #b71540;
    border-radius: 4px;
    border-color: #b71540;
    color: white;
    width: 12%;
    height: 2em;
    margin-bottom: 2em;
    margin-top: 1em;
    text-align: center;
    font-size: 1em;
}


.selector{
    background-color: #b8e994;
    border-radius: 4px;
    border-color: #b8e994;
    color: black;
    margin-right: 2em;
    margin-top: 1em;
    height: 2em;
}
.ubicar{
    display: flex;
    justify-content: space-between;
}

.empty{
    display: none;
}





/* Hicimos uso de la librería uiverse.io para mejorar la estética del sitio */


/* From uiverse.io by @satyamchaudharydev */
/* === removing default button style ===*/
.button {
    margin-bottom: 20px;
    margin-top: 20px;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 3em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

