body {
  background-image: url(img/cinema-background-concept-vector.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #fff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 5em;
}

.sumarPeli {
  font-size: 1em;
  margin-bottom: 10px;
}

.input {
  width: 15%;
  background-color: antiquewhite;
  border-radius: 4px;
  border-color: antiquewhite;
  color: black;
}

.sumarCategoria {
  display: flex;
  justify-content: center;
  font-size: 1em;
  margin-bottom: 10px;
}



.selector {
  background-color: rgb(70, 84, 94);
  border-color: rgb(70, 84, 94);
  color: #fff;
  margin-right: 2em;
  margin-top: 1em;
  width: 150px;
  height: 2em;
}

.ubicar {
  display: flex;
  justify-content: space-between;
}

.empty {
  display: none;
}





/* Hicimos uso de la librería uiverse.io para mejorar la estética del sitio */


/* From uiverse.io by @satyamchaudharydev */
/* === removing default button style ===*/
.button {
  margin-bottom: 20px;
  margin-top: 20px;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37FF8B;
  --fs-size: 3em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}


/**Estilos de los botones

/* From uiverse.io by @satyamchaudharydev */
/* inspired form gumroad website */
.boton {
  margin-top: 1em;
  margin-bottom: 1em;
  --bg: #021120;
  --hover-bg: #37FF8B;
  --hover-text: #021120;
  color: #fff;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.boton:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.boton:active {
  transform: translate(0);
  box-shadow: none;
}

.pelis {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 2em;
}

.cards {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  line-height: 1.5;
}

.cards2 {
  background-color: rgba(0, 0, 0, 0.8);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 20%;
  margin: 20px;
  padding: 20px;
}

h5 {
  color: #37FF8B;
  font-weight: bold;
}

.img {
  width: 100%;
  height: 50%;
  margin-bottom: 20px;

}

.alinear {
  display: flex;
  justify-content: space-between;
}

h3 {
  text-align: left;
  color: #37FF8B;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.puntuacion {
  width: 50px;
  height: 30px;
  border-radius: 7px;
  text-align: center;
  background-color: #021120;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
}

.p {
  text-align: left;
  font-size: 12px;
}

.parrafoError {
  color: red;
  text-align: center;
  font-size: 15px;
}

.catalogo {
  margin-top: 2em;
}

h1 {
  font-size: 2em;
  margin-top: 2em;
}


/*ESTILOS DEL INDEX HTML*/

main {
  display: flex;
}

.fondo {
  background-color: #021120;
  width: 40vw;
  height: 100vh;
  padding: 20px;
}

.fondoA {
  background-color: #021120;
  width: 40vw;
  height: 100%;
  padding: 20px;
}

.fondoB {
  width: 60vw;
  height: 100vh;
}

.centrar {
  margin-left: 110px;
}

.formUser {
  margin-top: 2em;
}

.login {
  margin-top: 2em;
  margin-left: 4em;
  color: #c0c4d6;
  display: flex;
  margin-bottom: 2em;
  flex-direction: column;
}

.login2 {
  color: #c0c4d6;
  margin-left: 4em;
  width: 80%;
  display: flex;
  margin-bottom: 2em;
  flex-direction: column;
}

.datosUser {
  margin-top: 1em;
  width: 90%;
  background-color: antiquewhite;
  border-radius: 4px;
}

.title {
  color: #c0c4d6;
  text-align: center;
  font-weight: bold;
}

.botonLogin {
  margin-left: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
  --bg: #37FF8B;
  --hover-bg: #021120;
  --hover-text: #37FF8B;
  color: black;
  font-weight: bold;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  width: 80%;
}

.botonLogin:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.botonLogin:active {
  transform: translate(0);
  box-shadow: none;
}

.eliminar {
  --bg: #37FF8B;
  color: black;
  font-weight: bold;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  margin-top: 20px;
  background: var(--bg);
}

a {
  text-decoration: none;
  color: #c0c4d6;
  display: flex;
  justify-content: end;
  margin-right: 2.5em;
  margin-left: 0.5em;
  font-size: 1em;
}

.alinearYCentrar {
  display: flex;
  justify-content: center;
}